<!--lines="none"-->
<ion-header>
  <ion-toolbar>
    <ion-title>Testigo Silencioso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding center text-center>
  <ion-row justify-content-center>

    <ion-img src="assets/icon/logoprincipal.png"></ion-img>

  </ion-row>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <ion-grid>
            <ion-row>
              <ion-item lines="none">
                <ion-col >
                  <ion-label>Recordar</ion-label>
                </ion-col>
                <ion-col >
                  <ion-toggle mode="ios" color="secondary"></ion-toggle>
                </ion-col>
              </ion-item>
            </ion-row>
          </ion-grid>
          <div padding>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">INGRESAR</ion-button>
          </div>
        </ion-col>
        <div text-center>
          Si usted no esta registrado, por favor clic <a routerLink='/register'>
            aqui</a> para iniciar el registro !
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>