<!--lines="none"-->
<ion-header>
  <ion-toolbar>
    <ion-title>Testigo Silencioso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding center text-center>
  <ion-row justify-content-center>

    <ion-img src="assets/icon/logoprincipal.png"></ion-img>

  </ion-row>
  <form [formGroup]="registerForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="user" type="tel" maxlength="20" placeholder="Documento" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.user.errors }"></ion-input>
              </ion-item>
              <div *ngIf="!f.user.valid && f.user.dirty || submitted" >
                <ion-label *ngIf="f.user.errors.required" color="danger" position="fixed">Numero de documento requerido</ion-label>
                <ion-label *ngIf="f.user.errors.minlength" color="danger" position="fixed">Formato de documento erroneo</ion-label>
              </div>

            </div>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="pass" type="password" maxlength="20" placeholder="contraseña" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"></ion-input>
              </ion-item>
              <div *ngIf="!f.pass.valid && f.pass.dirty || submitted" >
                  <ion-label *ngIf="f.pass.errors.required" color="danger" position="fixed">Contraseña requerida</ion-label>
                </div>
            </div>
          </div>
          <ion-grid>
            <ion-row>
              <ion-item lines="none">
                <ion-col>
                  <ion-label>Recordar</ion-label>
                </ion-col>
                <ion-col>
                  <ion-toggle mode="ios" color="secondary"></ion-toggle>
                </ion-col>
              </ion-item>
            </ion-row>
          </ion-grid>
          <div padding>
            <ion-button type="submit" expand="block">INGRESAR</ion-button>
          </div>
        </ion-col>
        <div text-center>
          Si usted no esta registrado, por favor clic <a routerLink='/register' routerDirection="forward">
            aqui</a> para iniciar el registro !
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>