<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Registrate</h3>
          </div>
          <div padding>
            <div class="form-group">
              <ion-item>
                <ion-label>Tipo de documento</ion-label>
                <ion-select name="tipodocumento" value="1" okText="aceptar" cancelText="cancelar">
                  <ion-select-option value="1">Cédula de cuidadanía</ion-select-option>
                  <ion-select-option value="2">Tarjeta de identidad</ion-select-option>
                  <ion-select-option value="3">Registro civil</ion-select-option>
                  <ion-select-option value="4">Tarjeta de extranjería</ion-select-option>
                  <ion-select-option value="5">Cédula de extranjería</ion-select-option>
                  <ion-select-option value="6">NIT</ion-select-option>
                  <ion-select-option value="7">Pasaporte</ion-select-option>
                  <ion-select-option value="8">Doc. de identificación extranjería</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="identificacion" maxlength="20" type="text"
                  placeholder="Número de identificación"
                  [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }"></ion-input>
              </ion-item>
              <div *ngIf="f.identificacion.dirty && !f.identificacion.valid || submitted" text-center>
                <ion-label *ngIf="f.identificacion.errors.required" color="danger" position="fixed">Numero de
                  identificación requerido</ion-label>
                <ion-label *ngIf="f.identificacion.errors.minlength" color="danger" position="fixed">Formato de
                  identificación erroneo</ion-label>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="nombres" maxlength="30" type="text" placeholder="Nombres"
                  [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }"></ion-input>
              </ion-item>
              <div *ngIf="f.nombres.dirty && !f.nombres.valid || submitted" text-center>
                <ion-label *ngIf="f.nombres.errors.required" color="danger" position="fixed">Nombres requeridos
                </ion-label>
                <ion-label *ngIf="f.nombres.errors.minlength" color="danger" position="fixed">Nombre no valido
                </ion-label>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="apellidos" maxlength="35" type="text" placeholder="Apellidos"
                  [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"></ion-input>
              </ion-item>
              <div *ngIf="f.apellidos.dirty && !f.apellidos.valid || submitted" text-center>
                <ion-label *ngIf="f.apellidos.errors.required" color="danger" position="fixed">Apellidos requeridos
                </ion-label>
                <ion-label *ngIf="f.apellidos.errors.minlength" color="danger" position="fixed">Apellido no valido
                </ion-label>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-label>Fecha de nacimiento</ion-label>
                <ion-datetime formControlName="fecha" display-format="YYYY-MM-DD"
                  [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }"></ion-datetime>
              </ion-item>
              <div *ngIf="f.fecha.dirty && !f.fecha.valid || submitted" text-center>
                <ion-label *ngIf="f.fecha.errors.required" color="danger" position="fixed">Fecha requerida
                </ion-label>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="telefono" type="text" placeholder="Teléfono o celular"
                [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"></ion-input>
              </ion-item>
              <div *ngIf="f.telefono.dirty && !f.telefono.valid || submitted" text-center>
                <ion-label *ngIf="f.telefono.errors.required" color="danger" position="fixed">Numero de telefono requerido
                </ion-label>
                <ion-label *ngIf="f.telefono.errors.minlength" color="danger" position="fixed">Telefono invalido
                </ion-label>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input formControlName="telemergencia" type="text" placeholder="Teléfono de emergencia"
                [ngClass]="{ 'is-invalid': submitted && f.telemergencia.errors }"></ion-input>
              </ion-item>
              <div *ngIf="f.telemergencia.dirty && !f.telemergencia.valid || submitted" text-center>
                <ion-label *ngIf="f.telemergencia.errors.required" color="danger" position="fixed">Numero de telefono requerido
                </ion-label>
                <ion-label *ngIf="f.telemergencia.errors.minlength" color="danger" position="fixed">Telefono invalido
                </ion-label>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-label>Departamento</ion-label>
                <ion-select value="11" name="departamento" okText="aceptar" cancelText="cancelar">
                  <ion-select-option *ngFor="let departamento of departamento" value="{{ departamento.codDepartamento }}">{{ departamento.nombreDepartamento }}</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-label>Municipio</ion-label>
                <ion-select value="1" name="municipio" okText="aceptar" cancelText="cancelar">
                  <ion-select-option value="1">Cédula de cuidadanía</ion-select-option>
                  <ion-select-option value="2">Tarjeta de identidad</ion-select-option>
                  <ion-select-option value="3">Registro civil</ion-select-option>
                  <ion-select-option value="4">Tarjeta de extranjería</ion-select-option>
                  <ion-select-option value="5">Cédula de extranjería</ion-select-option>
                  <ion-select-option value="6">NIT</ion-select-option>
                  <ion-select-option value="7">Pasaporte</ion-select-option>
                  <ion-select-option value="8">Doc. de identificación extranjería</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-label>Poblado</ion-label>
                <ion-select value="1" name="poblado" okText="aceptar" cancelText="cancelar">
                  <ion-select-option value="1">Cédula de cuidadanía</ion-select-option>
                  <ion-select-option value="2">Tarjeta de identidad</ion-select-option>
                  <ion-select-option value="3">Registro civil</ion-select-option>
                  <ion-select-option value="4">Tarjeta de extranjería</ion-select-option>
                  <ion-select-option value="5">Cédula de extranjería</ion-select-option>
                  <ion-select-option value="6">NIT</ion-select-option>
                  <ion-select-option value="7">Pasaporte</ion-select-option>
                  <ion-select-option value="8">Doc. de identificación extranjería</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input name="direccion" type="text" placeholder="Dirección"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input name="correo" type="text" placeholder="Correo electrónico"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input name="contraseña" type="password" placeholder="Contraseña"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confcontraseña" type="password" placeholder="Confirmar contraseña">
                </ion-input>
              </ion-item>
            </div>
            <ion-item lines="none">

            </ion-item>
            <div text-right>
              <ion-col>
                <ion-checkbox name="check" color="dark"></ion-checkbox>
              </ion-col>
              <ion-col>
                He leído y estoy de acuerdo con las <a href="http://irt.net.co/politicas-de-privacidad/">
                  Política de Privacidad</a>
              </ion-col>
            </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block">Registrar</ion-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>